.shipingcart {
  float: right;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 1px 4px darkgrey;
  i {
    float: right;
    color: red;
    font-size: 30px;
  }
  .cart-num {
    float: right;
    background-color: black;
    color: #fff;
    padding: 0px 5px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 15px;
  }
}
